services:
  backend:
    build:
      context: ./Backend
      dockerfile: API/Dockerfile
    ports:
      - "4060:5000"
    environment:
      - ASPNETCORE_URLS=http://+:5000
      - ASPNETCORE_ENVIRONMENT=Production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
